# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
*.iml
.idea
.DS_Store
.cache
.project
.settings
.classpath
.tmproj
nbproject
Thumbs.db

# Maven output folder
target

# JRebel
rebel.xml

# JS
node_modules
bower_components

# Misc
!.gitkeep
tmp
logs/*
_public