<header id="page_header">
  <h1>Blog</h1>
</header>

<section>
  <h2>Tag: {{tag}}</h2>

  <div id="entries">
    <ul>
      <li ng-repeat="entry in entries">
        <h2>
          <a href="{{entry.url}}">{{entry.title}}</a>
        </h2>
        <small>
          <span ng-bind-html="entry.inlineTags"></span>
          <time ng-bind-template="{{entry.createdDate}}T{{entry.createdTime}}"></time>
          <span ng-bind-template="by&nbsp;{{entry.authorName}}"></span>
        </small>
      </li>
    </ul>
  </div>
</section>

<section>
  <h2>Tags</h2>

  <div id="tags">
    <ul>
      <li ng-repeat="tag in tags">
        <a href="/blog/tags/{{tag}}">{{tag}}</a>
      </li>
    </ul>
  </div>
</section>